h1{
    background-color: #4c6ebb;
}
body{
    background-color: #c3c3c3;
}
#canvas{
    background-color: black;
    width: 100%;
}
#first {
font-style: oblique;
color: orangered ;
text-transform: capitalize;
font-size: larger;
text-decoration: underline;
}

